:root {
  --backgroundColor: rgb(255, 255, 255);
  --textColor: rgb(15, 15, 15);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Futura", sans-serif;
  font-size: 14px;
}

.app {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  background-color: var(--textColor);
  color: var(--backgroundColor);
  border-radius: 5px;
  padding: 5pt;
  text-align: center;
}

.input {
  background-color: var(--backgroundColor);
  width: 15%;
  height: 5vh;
  border: solid 5px var(--textColor);
  border-radius: 5px;
  font-size: larger;
  transition: all 0.25s;
}

.input:hover {
  background-color: var(--textColor);
  color: var(--backgroundColor);
}

.input:focus {
  background-color: var(--textColor);
  outline: none;
  border-radius: 3px 10px;
  color: var(--backgroundColor);
}
